apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: my-webcompanion-chat-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: my-webcompanion-chat-role
subjects:
- kind: ServiceAccount
  name: my-webcompanion-chat-sa
  namespace: default